*{
    margin: 10px;
    padding: 5px;
}
body{
    background-color: azure;
}
#main{
    background-color: azure;

}
#addTodo{
    background-color: antiquewhite;

}
button{
    display: block;
}
.todo{
    background-color: aliceblue;
}
.completed{
    border: solid;
    background-color: pink;
    
}